@use "../scss/variables" as *;
@use "../scss/mixins";

.gallery {
  @include mixins.container;

  &__list {
    @include mixins.grid(18rem, 1.5rem);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    border: none;
    border-radius: 1.5rem;
    @include mixins.selectable($secondary, 1px, $primaryLight);

    &::after {
      border-radius: 1.2rem;
    }
  }
}