@use "../scss/variables" as *;
@use "../scss/mixins";

.order {
  @include mixins.flex(column);
  gap: 2rem;

  &__info {
    @include mixins.flex(row);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    font-size: 1.25rem;
  }

  &__price {
    font-size: 1.75rem;
    font-weight: 700;
    color: $secondary;
  }
}