@use "../scss/variables" as *;

html, body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;
}

.page__wrapper {
	width: 100%;

	&_locked {
		position: fixed;
	}
}

.body_lock-scroll {
	overflow: hidden;
	padding-right: 17px; /* Компенсация для скроллбара */
}